---
---

$brown: #B59F62;
$teal: #40FFDC;
$black: #414141;
$primary: #DE1B4E;
$dark:    $black;
$enable-rounded: false;

@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";
@import 'bootstrap/bootstrap';
@import 'stars';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap');



html {
  font-size: 1.125rem;
} /*18px*/

body {
  background-color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  line-height: 1.25;
  color: #414141;
}

// general
input, button, select, optgroup, textarea {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

small, .text_small {font-size: 0.9rem;}


caption, label, .caption {font-size:0.72rem;}

a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.25;
}

a:hover{
  text-decoration: none;
  color: #0072AD;
}

button{
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.125rem;
}


img {
    max-width:100%;
    height:auto;
}



h1, h2, h3, h4 {
  margin: 36px 0 1.125rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 1.25;
}


h5, h6 {
  font-weight: 600;
  margin: 0 0 1.125rem 0;
}

h1{
  font-size: 2.4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.758125rem;
}

h5 {
  font-size: 1.40625rem;
}

h6 {
  font-size: 1.125rem;
}



@media screen and (min-width: 340px){

h1 {
  font-size: 2.746875rem;
}

  h3 {
    font-size: 2.1975rem;
  }
}



@media screen and (min-width: 768px){
h1{
  font-size:3.433125rem;
}
}



::selection {
  background: #D63900; /* WebKit/Blink Browsers */
  color: #FFFFFF;
}
::-moz-selection {
  background: #D63900; /* Gecko Browsers */
  color: #FFFFFF;
}



.herosection{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 33vh;
  max-width: 100vw;
}

.moe-row{
  width:100%;
  float: left;
  clear:both;
}

.moe-col-12{
  width:96%;

}

.site-content {
    padding-top:0;
}

.sitetag {
    font-weight:600;
    line-height:1.3;
    font-size:2.746875rem;
    @include media-breakpoint-up(sm) {
        font-size:50px;
        line-height:1.2;
    }
}


.bigradius {
    border-radius: 40px;
}
.mb-neg-30 {
  margin-top: 30px;
    margin-bottom:-30px;
}
.btn {
    min-width: 180px;
    background-color: #0072AD;
    border: 0;
    outline: 0;
}

.btn:hover{
  background-color: #0A4361;
}



blockquote {
    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-size: 1.40625rem;
    position:relative;
    border-left:1px solid $dark;
    margin-left:30px;
    padding-left:0.9375em;
    cite {
        font-weight:700;
    }
}
// animation
.nav-icon,
.hamburger-bar,
.hamburger-bar:before,
.hamburger-bar:after,
#menu,
body,
a,
a:hover,
body.active-side,
.site-content,
.show-search, .show-search:hover,
.title, .title:hover,
.card, .card:hover,
img, img:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@keyframes fade-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.featured-image, .firstpage .blog-grid-item:nth-child(1), .firstpage .blog-grid-item:nth-child(2), .firstpage .blog-grid-item:nth-child(3) {
    animation: fade-up 0.7s ease-out forwards running;
}
// menu
.navbar-brand img {
    max-height:80px;
    margin-bottom:40px;
    margin-top:40px;
}
.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 2.75em;
    border-right: solid rgba(0, 0, 0, 0.07) 1px;
    z-index: 1022;
}

.sidebar.scrolled{
  background:#fff;
  transition: background-color 450ms linear;
  -webkit-box-shadow: 0 0.5625em 0.9375em -0.125em rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0.5625em 0.9375em -0.125em rgba(0,0,0,0.15);
  box-shadow: 0 0.5625em 0.9375em -0.125em rgba(0,0,0,0.15);
}


.logotype{
  font-size:0.9rem;
  padding-left: 30px;
  color: #414141;
  text-decoration: none;
}

.logotype a{
  text-decoration: none;
  color: #414141;
  font-weight: 400;

}

.logotype a:hover{
  color: #0072ad;
}


@media screen and (min-width: 769px){
.navbar-flex{
display:flex;
justify-content: space-between;
align-items: center;}

#menu {
    z-index: 1020;

    ul {
        margin-right: 30px;

        li {
            list-style: none;
            display: inline-block;
            margin-left: 9px;
            margin-top:21px;
            a {
                width: 100%;
                text-decoration: none;
                color: #414141;
                font-weight: 300;
                font-size: 0.9rem;
                position: relative;
            }
            a:hover{
              color: #0072ad;
            }
        }
    }
}
}



@media screen and (max-width: 768px){

  .logotype{
    position: absolute;
    margin-top: 14px;
    z-index: 1027;
  }

.nav-icon {
    position: fixed;
    right: 15px;
    top: 3px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 1026;
    .hamburger-bar {
        width: 18px;
        height: 2px;
        position: absolute;
        top: 43%;
        left: 15px;
        border-radius: 1px;
        &:before, &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
            background: #292C30;
            border-radius: 1px;
        }
        &:before {
            transform: rotate(0deg) translate(0px,-5px);
        }
        &:after {
            transform: rotate(0deg) translate(0px,5px);
        }
    }
    &.active {
        .hamburger-bar {
            &:before {
                transform: rotate(-45deg) translate(0px,0px);
            }
            &:after {
                transform: rotate(45deg) translate(0px,0px);
            }
        }
    }
}

.blackover {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(8, 11, 16, 0);
    z-index: -1;
    animation: animate2 .3s;
    &.active {

            z-index: 4;
            background: rgba(255, 255, 255, 0.7);
            animation: animate .3s;
    }
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: #fff;
    padding: 0;
    margin: 0;
    transform: translate(0, -100%);
    z-index: 1020;



    &.active {
        transform: translate(0%, 0);
        -webkit-box-shadow: 0 0.5625em 0.9375em -0.125em rgba(0,0,0,0.15);
        -moz-box-shadow: 0 0.5625em 0.9375em -0.125em rgba(0,0,0,0.15);
        box-shadow: 0 0.5625em 0.9375em -0.125em rgba(0,0,0,0.15);
    }
    ul {
        float: left;
        margin: 0;
        width: 100%;
        padding: 60px 0px 0px 30px;
        h3 {
            margin-bottom:30px;
        }
        li {
            list-style: none;
            width: 100%;
            a {
                width: 100%;
                display: inline-block;
                padding: 0.9375em 0px 0.9375em 0;
                text-decoration: none;
                color: #414141;
                font-weight: 300;
                font-size: 0.9rem;
                position: relative;
            }
            a:hover{
              color: #0072ad;
            }
        }
    }
}
}



// Custom


/*Footer*/

.footer-row {
  position: relative;
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}


  .footer-col-2 {
    width: 46%;
    position: relative;
    padding:0;
    margin: 0;
    text-align: left;
    margin-top: 1.125em;
  }

.footer-col-moe {
  margin-top: 2.25em;
  display: block;
  width:96%;
}


.footer-h6{
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
}

ul.footer-link-menu{
  margin:0;
  list-style-type: none;
  padding: 0;
}

.footer-link-menu li{
  font-size: 0.9rem;
  margin: 0;
  margin-bottom:18px;
}


.footer-link-menu a{
  font-weight: 600;
  list-style-type: none;
  color: #414141;
}

.footer-link-menu a:hover{
  color: #0072ad;
}

a.footer-link-sub{
  color: #414141;
  font-size: 0.9rem;
  font-weight: 300;
}

a.footer-link-sub:hover{
  color: #0072ad;
}


.footer-trademark{
  margin:0;
  max-height: 44px;
}

p.footer-trademark{
  margin-top:9px;
  margin-bottom:0;
}


img.footer-social-icon{
  display: inline-block;
  padding:0;
  opacity: 0.65;
}

img.footer-social-icon:hover{
  opacity:1;
}

.footer-menu{
  display: flex;
  gap:1em;
  width:100%;
  flex-flow: wrap;
}

.footer-row{

}

@media screen and (min-width: 48em){

  .footer-menu{
    display: flex;
    gap:2em;
    width:auto;
  }

  img.footer-social-icon{
     display: inline-block;
      position:relative;
     float:right;
     clear:both;
     margin:0;
     padding: 0;
  }

  .footer-col-2{
    width:auto;
  }

    .footer-row {
     margin:0;
     padding:0;
     justify-content: space-between;
     align-items: flex-start;
    }


}


// blog grid
.blog-grid-container {
    width: auto;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}

.blog-grid-item {
    padding: 0;
    display: flex;
    align-items:center;
    .author-thumb {
        width:42px;
        border-radius:50%;
        margin-right: 7px;
    }
    .card {
        border:0;
        &:hover {
           .card-title a {
                background-size: 100% 100%;
            }
        }
    }

    .card:hover{
      transition: background-color 450ms linear;
      -webkit-box-shadow: 0 0.5625em 0.9375em -0.125em rgba(222,27,78,0.15);
      -moz-box-shadow: 0 0.5625em 0.9375em -0.125em rgba(222,27,78,0.15);
      box-shadow: 0 0.5625em 0.9375em -0.125em rgba(222,27,78,0.15);
    }

    .card-title {
        font-weight:600;
        font-size: 1.40625rem;
        line-height:1.4;
        a {
            /*background-image: linear-gradient(180deg, transparent 89%, $primary 0);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .6s ease;
            position:relative;*/
            &:hover {
                text-decoration:none;
            }
        }
    }
    .card-text {
        font-family: "Nunito Sans";
        font-weight:300;
        font-size:0.9rem;
        line-height:1.25;
        margin-top: 0.9375em;
    }
    .card-footer {
        font-size:0.9rem;
        border-top:0;
        padding: 1rem 1.25rem;
        a {
            color:inherit;
            font-weight:700;
        }
    }
    .post-date {
        float:right;
        margin-top: 10px;
    }
    .img-thumb {
        object-fit:cover;
        height:240px;
        width:100%;
        object-position:top;
    }
}
.firstpage {
    .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1em;
        padding:0;
        .card-title {
            font-size:1.758125rem;
        }
        .img-thumb {
            object-fit:cover;
            height:400px;
            width:100%;
            object-position:top;
        }
    }

    .blog-grid-item:nth-child(2), .blog-grid-item:nth-child(3) {
        .card-text {
            display:none;
        }
        .img-thumb {
            object-fit:cover;
            height:160px;
            width:100%;
            object-position:top;
        }
        .card-title {
            font-size:1.125rem;
            line-height:1.5;
        }
    }
}

//pagination
.pagination {
    justify-content:center;
    a {
        background: rgba(0,0,0,0);
        color:#414141;
        cursor:pointer;
        &:hover {
            background-color: #0072ad;
            color: #ffffff;
            text-decoration:none;
        }
    }
    a, span  {
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
    }
    span {
        border:0;
    }
}

//newsletter



.footer-background{
  padding: 72px 0 72px 0;
  background: #f8f8f8;
}
.newsletter {
    h4 {
        line-height:1.3;
    }
    margin-top:120px;

    input {
        border:1px solid transparent;
        outline: 0;
    }



    .mc-field-group {
        border:0;
        outline: 0;

        input[type="email"] {
            padding:4px 10px;
            width: 100%;
            min-width: 270px;
            max-width:450px;
            height: 2.75em;
            display: block;
            margin-bottom: 18px;
        }

        input[type="email"]:hover{
          border-left: 0.125em solid #0072AD;
          background-color: #D6E8F2;
        }

        input[type="email"]:focus,         input[type="email"]:active {
          border-left: 0.1875em solid #0072AD;
          background-color: #ffffff;
        }


        input[type="submit"] {

          display: block;
          color: #0072AD;
          background-color: #FFFFFF;
          border: 0.0625em solid #0072AD;
          padding: 0 1.125em 0 1.125em;
          outline:0;
          height: 2.75em;
          cursor:pointer;
          -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s
        }
        input[type="submit"]:hover {
          background-color: #D6E8F2;
          box-sizing: border-box;
          padding: 0 1.125em 0 17px;
          border: 2px solid;
          color: #0072AD;
          -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s
        }

        input[type="submit"]:active{
          background-color: #0072AD;
          color: #FFFFFF !important;
          border: 0;
          padding: 0 19px 0 19px;
        }


    }


    form {
        margin-top:30px;
        width: 100%;
    }
}

// blog
.article-post, .entry-header, .comments, .rating, .authorbox {
    max-width: 720px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.posttitle {
    font-size:3.433125rem;
    font-weight:600;
    line-height:1.2;
}
.entry-featured-image {
    width:940px;
    max-width: 100%;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    margin-top:60px;
    margin-bottom:60px;
}
.image-shadow {
    -webkit-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
    -moz-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
    box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
}
.entry-header {
    .author-thumb {
        width:50px;
        border-radius:50%;
        margin-right:10px;
        border:2px solid #0072AD;
        padding:2px;
    }
}
.authorbox {
    margin-top:60px;
    margin-bottom:60px;
    .author-description {
        font-size:16px;
    }
    .author-thumb {
        width:70px;
        border-radius:50%;
        border:2px solid darken($primary,20%);
        padding:2px;
    }
}
.article-post {
    font-size:1rem;
    p {
        margin-top:30px;
        margin-bottom:30px;
    }
    code {
        font-size: 0.9rem;
        color: #94918d;
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size:0.9rem;
        margin-bottom:30px;
        background: #fff;
        color:inherit;
    }
    div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
        margin-right:2px;
        margin-left:2px;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    }
}

.c-rating button {
    cursor:none;
}

.spoiler {
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all .4s;
    cursor: pointer;
    position: relative;
    &:after {
        position: absolute;
        opacity: 0;
        content: 'Click to reveal spoiler';
        top: 45%;
        left: calc(50% - 75px);
        text-shadow: none;
        background: #222;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        line-height: 1;
        padding: 2px 3px;
        width: 150px;
        font-family: 'Nunito Sans';
        text-align: center;
        border-radius: 3px;
        transition: all .4s;
    }
    &:hover:after {
        opacity: 1;
    }
}

.comments {
    margin-top:30px;
    margin-bottom:60px;
    #comments {
        display:none;
        margin-top:60px;
        &.comments--show {
            display:block;
        }
    }
}
.related-posts {
    h2 {
    }
    margin-top:120px;
    .badge {
        font-size: 0.9rem;
        padding:5px 7px;
        display:inline-block;
        margin: 0 3px;
    }
}

//share
.share {
    position:fixed;
    left:0.9375em;
    bottom:40%;
    z-index: 1026;
    text-align:center;
    font-size: 0.9rem;
    ul {
        list-style:none;
        padding-left:0;
        li {
            margin:0.9375em 0;
            a {
                color:$dark;
            }

            a:hover{
              color:#DE1B4E;
            }
        }
    }
}

//search
.show-search {
    cursor:pointer;
    &:hover {
        color: #0072AD;
    }
}
.bd-search {
    visibility: hidden;
    opacity: 0;
    transition:opacity 0.5s linear;
    &.search--show {
        visibility: visible;
        opacity: 1;
        transition:opacity 0.5s linear;
    }
}
.wrap-search {
    position: fixed;
    left: 30px;
    bottom: 25px;
    z-index: 1026;
}
.modal-open .modal {
    background: rgba(0,0,0,0.3);
}
.lunrsearchresult {
    .title {
        color:#000;
        font-weight:600;
        line-height:1.25;
        display:block;
        font-size:1.40625rem;
        margin-bottom:6px;
        &:hover {
            color: #0072ad;
        }
    }
    span.body {
        color: $gray-500;
        line-height:1.7;
        display:block;
        margin-bottom:10px;
    }
    a {
        &:hover {
            text-decoration:none;
        }
    }
    span.url {
         display:none;
    }
}
body.active-side {
    .bd-search {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }
}
//footer
.footer {
    margin-top:120px;
    padding:30px;
    border-top:1px solid $gray-200;
    font-size:0.9rem;
    background:#fff;
}

footer{margin-bottom:5.625em}



//responsive tweaks
@media (min-width: 768px) {

  footer{margin-bottom:0em}


    .container, .container-sm, .container-md, .container-lg {
        max-width: 80%;
    }
}
@media (min-width: 1440px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 1140px;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 90%;
        max-width:90%;
    }
    .blog-grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .newsletter img.newsletter-logo {
        max-height: 50px;
        float: left;
    }
}
@media (max-width: 768px) {
    .posttitle {
        margin-top: 120px;
        font-size:35px;
    }
    .blog-grid-container {
        grid-template-columns: 1fr;
    }
    .firstpage .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .blog-grid-item .img-thumb,
    .firstpage .blog-grid-item:nth-child(1) .img-thumb,
    .firstpage .blog-grid-item:nth-child(2) .img-thumb,
    .firstpage .blog-grid-item:nth-child(3) .img-thumb {
        height:auto;
    }
    .newsletter {
        span.h4 {
            font-size: 20px;
        }
        .mc-field-group input[type="email"] {
            padding: 4px 10px;
            min-width: 200px;
        }
        .mc-field-group input[type="submit"] {
            padding: 4px 10px;
        }
    }
}

@media (max-width: 600px) {
    .nav-icon, .sidebar,  {
        position:fixed;
    }

    .share{
      position: relative;
    }

    /*.wrap-search removed from above*/

    .container {
        padding-left:0.9375em;
    }
    .site-content {
        padding-top:0;
    }
    .bd-search {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }

    .share {
        display: flex;
        align-items:center;
    }
    .share ul li {
        display:inline-block;
        margin: 10px 0.9375em !important;
    }

    #menu ul {
        padding: 60px 30px 30px 30px;
    }
    .related-posts {
        h2 {
            font-size: 1.4rem;
        }
    }
}
@media (max-width: 480px) {
    .newsletter {
        .mc-field-group input[type="email"] {
            width: 100%;
        }
    }
    .article-post, .entry-header, .comments, .rating, .authorbox {
        padding-left:0;
        padding-right:0;
    }
    blockquote {
        margin-left:0.9375em;
        font-size:1.125rem;
    }
    .article-post {
        font-size:0.9rem;
    }
    .wrap-search {
        .fa-search {
            display:none;
        }
        .form-control {
            height:35px;
        }
    }
}
